@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin:  0;
  padding:  0;
  box-sizing:  border-box;
  font-family:  'Poppins', sans-serif;
  text-decoration:  none;
  list-style:  none;
}

body {
  background-color:  #161A30;
}

//Header Kısmı

header {
  display:  flex ;
  justify-content:  space-between;
  padding: 10px 55px;
  background-color:  #31304D;
  align-items:  center;

  .left {
    cursor:  pointer;
    font-size:  28px;
    text-shadow:  2px 2px 12px black;
    color:  #F0ECE5 ;

    &:hover {
      color:  #B6BBC4 ;
    }
  }


  .right {
    display:  flex ;
    gap:  12px;

    & a {
      color:  #F0ECE5;
      text-shadow:  2px 2px 12px black;

      &:hover {
        color:  #B6BBC4;
      }
    }

    .active {
      color:  #FED9ED;
    }
  }
}

@media (max-width:768px) {
  header {

    flex-direction: column;
  

  }

}


@media (max-width:576px) {
  header {

    .right{
      font-size: 11px;
    }

  }

}

//Home Page

.container {

  height:  100vh;
  display:  grid ;
  place-items:  center;

}


.home {
  width:  90%;
  margin:  12px auto;
  color:  #F0ECE5;

  .welcome {
    border: 1px solid transparent ;
    box-shadow: 2px 2px 12px #F0ECE5 ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    padding: 10px 12px ;
    gap: 8px ;
    position: relative ;
    background-color: #31304D ;
    border-radius: 8px ;

    .sign-out {
      position: absolute ;
      right: 13px ;
      top: 8px ;
      background-color: #5b6186 ;
      color: white ;
      cursor: pointer ;
      padding: 2px 4px;
      border-radius: 8px;
      box-shadow: 2px 3px 15px black ;

      &:hover {
        background-color: #FED9ED ;
        color: #161A30 ;
      }
    }


    p {
      display: flex ;
      align-items: center ;
      justify-content: center ;
      position: relative ;

      img {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        position: absolute;
        top: -10px;
        left: -21px;
      }

      span {
        font-weight: 800;
        text-transform: uppercase;
      }
    }

    @media (max-width:510px) {
      .sign-out {
        position: absolute;
        right: 1px;
        top: 32px;
        background-color: #5b6186;
        color: white;
        cursor: pointer;
        padding: 2px 4px;
        font-size: 12px;
        border-radius: 8px;
        box-shadow: 2px 3px 15px black;

      }

    }
  }



  .popular {
    max-height: 80px;

    .popular-index {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 22px 0;

      .splide {
        height: 600px;
      }

      img {
        width: 100%;
        height: 500px;
        object-position: center;
        object-fit: contain;

      }

    }


  }
}

//Auth Page

.auth {
  background-color: #31304D;
  box-shadow: 2px 2px 10px #F0ECE5;
  color: #F0ECE5;
  width: 60vw;
  max-width: 600px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  border-radius: 12px;

  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 10px #31304D;
  }


  button {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 8px;
    background-color: #161A30;

    img {
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }

  }

  @media (max-width:700px) {
    width: 90vw;
  }

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  color: aliceblue;
  transition: border-color .2s;

  &:hover {
    border-color: #F0ECE5;
  }

  &:focus {
    outline: 4px auto #F0ECE5;
  }
}


// Map Page

.mapView {
  height: 90vh;
  width: 100%;
}


// Detail Page


.detail-card {
  width: 80%;
  margin: 22px auto;
  color: #F0ECE5;
  padding: 12px 24px;
  border: 1px solid transparent;
  transition: border .3s;
  box-shadow: 2px 2px 12px black;
  display: flex;
  flex-direction: column;
  gap: 12px;


  &:hover {
    border: 1px solid #FED9ED;
    border-radius: 12px;
  }

  .detail-card-left {
    width: 100%;
    height: 500px;

    .splide {
      height: 100%;
    }

    img {
      height: 430px;
      width: 100%;
      object-position: center;
      object-fit: contain;

    }
  }


}

.share-buttons {
  display: flex;
  justify-content: center;
  font-size: 32px;
  gap: 22px;

  a {
    color: #FED9ED;
  }
}

// filter Area

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  padding: 6px 12px;

  .filter-left {
    text-align: center;
    height: 100%;

    select {
      width: 100%;
    }
  }

  form {
    height: 100%;
  }

  .date-filter {
    display: flex;
    align-items: center;
    gap: 12px;

    .date-input {
      display: flex;
      flex-direction: column;
      text-align: center;

      label {
        font-weight: 600;
      }

      input {

        padding: 3px 6px;
        border: none;
        outline: none;
        border-radius: 8px;
      }

    }

    .date-buttons {
      display: flex;
      gap: 3px;

      .date-btn {
        border: 1px solid #5b6186;
        background-color: #161A30;
        color: white;
        padding: 8px 6px;
        font-size: 14px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          background-color: #FED9ED;
          color: #1a1a1a;
          box-shadow: 1px 1px 5px black;
        }
      }

    }




  }



  .filter-btn {
    display: flex;

    gap: 2px;

    button:hover {
      background-color: #FED9ED;
      color: wheat;

    }


  }

}

@media (max-width:968px) {
  .filter {
    flex-direction: column;
  }

}



.main-section {

  display: flex;
  justify-content: center;


  .sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    white-space: nowrap;
    margin-top: 22px;
    padding: 0px 4px;
    color: #F0ECE5;



    span {
      border: 1px solid #FED9ED;
      background-color: #1a1a1a;
      border-radius: 6px;
      color: white;
      padding: 3px 6px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        background-color: #FED9ED;
        color: #1a1a1a;
        box-shadow: 1px 1px 5px black;
      }
    }

  }

  @media (max-width:768px) {
    .sidebar {
      font-size: 10px;
      padding: 3px 6px;
      width: 19%;

      h5 {
        font-size: 12px;
      }
    }

  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, fr));
    max-height: 80vh;
    gap: 15px;
    padding: 12px 22px;
    width: 78%;

    .card {
      border: 1px solid #161A30;
      border-radius: 12px;
      padding: 8px 14px;

      .card-index {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7px;

        button {
          background-color: #B6BBC4;

          &:hover {
            background-color: #31304D;
          }
        }

        .place {
          cursor: pointer;
          position: relative;
        }

        .hover {
          position: absolute;
          background-color: #F0ECE5;
          font-weight: 600;
          font-size: 14px;
          color: black;
          border: 1px solid #1a1a1a;
          border-radius: 6px;
          padding: 3px 6px;
          text-align: center;
          box-shadow: 2px 2px 18px black;
          right: 60px;
          bottom: -35px;
          width: 100px;
          font-size: 8px;


        }



      }

      @media (max-width:768px) {
        .card-container {
          width: 68%;
        }

      }

      &:hover {
        background-color: #FED9ED;
        color: #1a1a1a;
      }

      &:hover h3 {

        color: #161A30;
      }

      & h3 {
        text-align: center;
        margin: 2px auto;
        white-space: nowrap;
        font-size: 19px;
        font-weight: 800;
        color: #B6BBC4;

      }

      & div p {
        font-weight: 700;

        & span {
          font-weight: 300;
        }
      }
    }
  }

}

.to-auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F0ECE5;
  height: 75vh;
  gap: 4px;
  background-image: url("https://i.pinimg.com/originals/0f/c1/08/0fc108b9a016b2be79292b0bdfb17be2.gif");
  background-position: center;
  background-repeat: no-repeat;

  margin-top: 22px;

  span {
    color: #f52e98;
  }

  & span:nth-child(2) {
    color: red;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 2px 2px 8px #5b6186;
  }

}