@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: rgb(221, 248, 158);
}

//Header Kısmı

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 55px;
  background-color: rgb(243, 194, 159);
  align-items: center;

  .left {
    cursor: pointer;
    font-size: 28px;
    text-shadow: 2px 2px 12px black;

    &:hover {
      color: white;
    }
  }

  .right {
    display: flex;
    gap: 12px;

    & a {
      color: white;
      text-shadow: 2px 2px 12px black;

      &:hover {
        color: chocolate;
      }
    }

    .active {
      color: black;
    }
  }
}

//Home Page

.container {

  height: 100vh;
  display: grid;
  place-items: center;

}

.auth {
  background-color: rgb(88, 180, 85);
  color: black;
  width: 60vw;
  max-width: 600px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  border-radius: 12px;

  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 10px rgb(235, 142, 235);
  }


  button {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 8px;
    background-color: rgb(3, 46, 3);

    img {
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }

  }

  @media (max-width:700px) {
    width: 90vw;
  }

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  color: aliceblue;
  transition: border-color .2s;

  &:hover {
    border-color: rgb(235, 142, 235);
  }

  &:focus {
    outline: 4px auto rgb(235, 142, 235);
  }
}




.mapView {
  height: 90vh;
  width: 100%;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 80vh;
  gap:15px;
  padding: 12px 22px;
  .card{
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px 14px;
    cursor: pointer;
    &:hover{
      background-color: chocolate;
      color: white;
    }
    & h3{
      text-align: center;
      margin: 2px auto;
    }

    & div p{
      font-weight: 700;
      & span{
        font-weight: 300;
      }
    }
  }
}

.detail-card{
  width: 80%;
  margin: 22px auto;
  padding: 12px 24px;
  border: 1px solid transparent;
  transition: border .3s;
  box-shadow: 2px 2px 12px black;
  display: flex;
  flex-direction: column;
  gap: 12px;


  &:hover{
    border: 1px solid chocolate;
    border-radius: 12px;
  }

  .detail-card-left{
    width: 100%;
  }

  .splide{
    width: 100%;

    & img{
      width: 100%;
    }

  }
  
}